h1, h2 {
    padding-bottom: 15px;
}

p {
    line-height: 2;
}

.figure {
    text-align: center;
    padding: 25px 0;
}

.figure > img {
    max-width: 100%;
    display: inline-block;
}

.caption {
    text-align: center;
    font-style: italic;
}

